@import '~antd/dist/antd.dark.less';
@import '~antd/dist/antd.compact.less';

@color1: #191e28;
@color2: #212734;
@color3: #262d3d;
@color4: #419df8;
@color5: #eff0f4;
@color6: #777777;
@color7: #8e98af;
@color8: #fefeff;